<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Maintainance Page</title>
</head>
<body>
    <h1>Will be right back soon</h1>
    <p>Website is being upgraded.</p>
    {{> footer }}
</body>
</html>